body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font: bold 50px Roboto, sans-serif;
}

.game {
  background-color: #ffed73;
  border-collapse: collapse;
}
.cell {
  width: 120px;
  height: 120px;
  color: #7080d7;
  font-size: 90px;
  text-align: center;
  border-color: #bd63d4;
  border-width: 3px;
  border-style: solid;
}

.winner {
  color: #7080d7;
  text-align: center;
  font-weight: 700;
}